 <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/index.php/home/index/index">首页</a><span class="crumb-step">&gt;</span>分类管理<span class="crumb-step">&gt;</span><span><a href="/index.php/home/type/index">种类管理</a></span><span class="crumb-step">&gt;</span><span><a href="/index.php/home/type/alert">修改</a></span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/jscss/admin/design/add" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th><i class="require-red">*</i>种类名：</th>
                            <td>
                                <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <a class="link-update" href="/index.php/home/type/index">提交</a>
                                <a class="link-update" href="/index.php/home/type/index">返回</a>
                              
                            </td>
                        </tr>
                        </tbody></table>
                    <!--/main-->
                </form>
            </div>
        </div>

    </div>