 <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/admin/index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">品牌查询</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="__APP__/grands/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__APP__/admin/grands/insert"><i class="icon-font"></i>新增品牌</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>

                            <th>ID</th>
                            <th>品牌编号</th>
                            <th>品牌名称</th>
                            <th>操作</th>
                        </tr>
                        <volist name="grand" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>

                            <td>{$vo.grandid}</td>
                            <td>{$vo.grandnum}</td>
                            <td title="百雀羚"><a target="_blank" href="__APP__/index/admin/goods/show" title="百雀羚">{$vo.grandname}</a>
                            </td>
                            <td>
                                <a class="link-update" href="__APP__/admin/grands/show?id={$vo.grandid}">查看</a>
                                <a class="link-update" href="__APP__/admin/grands/revise?id={$vo.grandid}">修改</a>
                                <a class="link-del" href="__APP__/admin/grands/delete?id={$vo.grandid}" onclick=
                                        "return confirm('确认要删除吗？请慎重哦！')">删除</a>
                            </td>
                        </tr>
                        </volist>

                    </table>
                    <div class="list-page">{$pages}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->