 <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/admin/index/index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/index.php/admin/brand/index">品牌管理</a><span class="crumb-step">&gt;</span><span>修改品牌</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__APP__/admin/grands/update" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="120"><i class="require-red">*</i>品牌ID：</th>
                            <td>
                                <input class="common-text required" id="pinpai" name="grandnum" size="50" value="{$grand.grandnum}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>品牌名称：</th>
                            <td>
                                <input class="common-text required" id="title" name="grandname" size="50" value="{$grand.grandname}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>品牌简介：</th>
                            <td><textarea name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="common-text required" id="title" name="grandid" type="hidden" value="{$grand.grandid}"/>
                                <input class="btn btn6" value="提交" type="SUBMIT">
                                <a href="__APP__/admin/grands/index"><input class="btn btn6" value="返回" type="button"></a>
                            </td>
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->