 <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/index.php/admin/index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">种类管理</span></div>
        </div>
        <div class="search-wrap">

        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__APP__/admin/type/insert"><i class="icon-font"></i>添加种类</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>

                            <th>ID</th>
                            <th>分类编号</th>
                            <th>种类名</th>
                            <th>操作</th>
                        </tr>
                        <volist name="categories" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>

                            <td>{$vo.categoriesid}</td>
                            <td>{$vo.categoriesnum}</td>
                            <td title="artichoke"><a target="_blank" href="#" title="artichoke">{$vo.categoriesname}</a>
                            <td>
                                <a class="link-delete" href="{:U('admin/type/delete',array('id'=>encode($vo['categoriesid'])))}" onclick=
                                        "return confirm('确认要删除吗？请慎重哦！')">删除</a>
                            </td>
                        </tr>
                        </volist>

                    </table>
                    <div class="list-page">{$pages}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->