 <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/admin/index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商品查询</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="__APP__/admin/goods/select" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="g_name" id="brand" class="required">
                                    <option value="" selected="selected">全部品牌</option>
                                    <volist name="grands" id="gr">
                                        <option value="{$gr.grandname}">{$gr.grandname}</option>
                                    </volist>
                                </select>
                                <select name="c_name" id="catids" class="required">
                                    <option value="" selected="selected">全部分类</option>
                                    <volist name="categories" id="ca">

                                        <option value="{$ca.categoriesname}">{$ca.categoriesname}</option>
                                    </volist>
                                </select>
                            </td>
                            <th width="70">名称查询:</th>
                            <td><input class="common-text" placeholder="关键字" name="keyword" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">

                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>ID</th>
                            <th>商品名称</th>
                            <th>商品数量</th>
                            <th>商品价格</th>
                            <th>商品品牌</th>
                            <th>商品分类</th>
                            <th>操作</th>
                        </tr>
                        <foreach name="goods" item="vo">
                            <tr>
                                <td>{$vo.goodid}</td>
                                <td>{$vo.goodname}</td>
                                <td>{$vo.count}</td>
                                <td>{$vo.goodprice}</td>
                                <td>{$vo.grandname}</td>
                                <td>{$vo.categoriesname}</td>
                                <td>
                                    <a class="link-update" href="__APP__/admin/goods/show?id={$vo.goodid}">详情</a>
                                    <a class="link-update" href="__APP__/admin/goods/revise?id={$vo.goodid}">修改</a>
                                    <a class="link-del" href="{:U('admin/goods/delete',array('id'=>encode($vo['goodid'])))}" onclick=
                                            "return confirm('确认要删除吗？请慎重哦！')">删除</a>
                                </td>
                            </tr>
                        </foreach>
                    </table>
                    <div class="list-page">{$pages}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->