<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Center</title>
    <link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__PUBLIC__/home/css/owl.carousel.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Swim Wear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <link href="__PUBLIC__/home/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="__PUBLIC__/home/js/megamenu.js"></script>
    <!--<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>-->
   
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap-3.1.1.min.js"></script>
    <script src="__PUBLIC__/home/js/imagezoom.js"></script>

    <!-- FlexSlider -->
    <script defer src="__PUBLIC__/home/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/home/css/flexslider.css" type="text/css" media="screen" />

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>



</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="lang_list">
            </div>
            <div class="top-right">
                <ul>
                    <li class="text" title="我的账户"><a href="__APP__/home/personal/personalCenter">{$user}</a></li>
                    <li><div class="cart box_1">
                        <a href="__APP__/home/order/checkout">
                            <span class="simpleCart_total" title="我的购物车">  ￥{$total} </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> {$count} </span>)
                        </a>
                        <div class="clearfix"> </div>
                    </div></li>
                    <li class="text"><a href="__APP__/home/index/logout">{$logout}</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <!--/.content-->
            <div class="content white">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 class="navbar-brand"><a  href="__APP__/home/index/index">Easy Buy</a></h1>
                    </div>
                    <!--/.navbar-header-->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="__APP__/home/index/index">主页</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">女士<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<volist name="women" id="vo">
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<!--<li><a class="list" href="products.html">女士</a></li>-->
													<li><a class="list1" href="__APP__/home/products/select/grandname/{$vo.grandname}">{$vo.grandname}</a></li>
												</ul>
											</div>
										</volist>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">男士 <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-2">
									<div class="row">
										<volist name="men" id="vo">
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<!--<li><a class="list" href="products.html">女士</a></li>-->
													<li><a class="list1" href="__APP__/home/products/select/grandname/{$vo.grandname}">{$vo.grandname}</a></li>
												</ul>
											</div>
										</volist>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">儿童 <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-1">
									<div class="row">
										<div class="col-sm-1">
											<ul class="multi-column-dropdown">
												<volist name="children" id="vo">
													<li><a class="list1" style="width:150px;" href="__APP__/home/products/select/grandname/{$vo.grandname}">{$vo.grandname}</a></li>
												</volist>
											</ul>
										</div>

									</div>
								</ul>
							</li>
							<li><a href="__APP__/home/index/daily">每日精选</a></li>

						</ul>
					</div>
                    <!--/.navbar-collapse-->
                </nav>
                <!--/.navbar-->
            </div>
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>

            <!-- search-scripts -->
            <script src="__PUBLIC__/home/js/classie.js"></script>
            <script src="__PUBLIC__/home/js/uisearch.js"></script>
            <script>
                new UISearch( document.getElementById( 'sb-search' ) );
            </script>
            <!-- //search-scripts -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--header-->
<div class="content">
    <!--start-contact-->
    <!--contact-->
    <div class="content">
        <div class="contact">
            <div class="container">
                <div class="contact-grids">
                    <!--我写的开始-->
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-2 column">
                                <div class="panel-group" id="panel-966061">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-966061" href="#panel-element-295698">我的交易</a>
                                        </div>
                                        <div id="panel-element-295698" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <a href = "__APP__/home/personal/personalCenter">交易详情</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-966061" href="#panel-element-430327">我的账户</a>
                                        </div>
                                        <div id="panel-element-430327" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <a href = "__APP__/home/personal/addressManagement">地址管理</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 column">
                                <div style ="margin-bottom:50px;">
                                    <h1>
                                        <B>订单详情</B>
                                    </h1>
                                </div>
                                <div>
                                    <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
                                    <div class="panel-group" id="panel-96606">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-96606" href="#panel-element-29569">状态信息</a>
                                            </div>
                                            <div id="panel-element-29569" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <volist name="data" id="vo">
                                                        {$vo.状态}<br/>
                                                        {$vo.状态内容}
                                                    </volist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-96606" href="#panel-element-43032">物流信息</a>
                                            </div>
                                            <div id="panel-element-43032" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    此版本不涉及物流相关问题（下一版本进行更新，敬请期待）
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-96606" href="#panel-element-4303">订单信息</a>
                                            </div>
                                            <div id="panel-element-4303" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    收货地址：<br/>
                                                    &emsp; <volist name="data" id="vo">
                                                    {$vo.收货姓名}&emsp;{$vo.收货电话}&emsp;{$vo.收货地址}<br/>
                                                </volist>
                                                    运送方式：<br/>
                                                    &emsp;快递<br/>
                                                    <hr style="height:1px;border-top:1px dashed #CCC;" />
                                                    卖家信息:<br/>
                                                    &emsp;河北省石家庄市EsayBuy购物商城&emsp;联系方式：（就不告诉你，保证你找不到我，O(∩_∩)O~）
                                                    <hr style="height:1px;border-top:1px dashed #CCC;" />
                                                    订单信息：<br/>
                                                    <volist name="data" id="vo">
                                                        订单编号：{$vo.订单号}<br/>
                                                        支付宝交易号：（未涉及付款，暂无）<br/>
                                                        订单创建时间：{$vo.下单时间}<br/>
                                                    </volist>

                                                    <table class="table">
                                                        <thead style ="color:#FFF; background:#aaa;">
                                                        <tr style ="border:1px solid #CCC;">
                                                            <th>
                                                                商品
                                                            </th>
                                                            <th>
                                                                单价
                                                            </th>
                                                            <th>
                                                                数量
                                                            </th>
                                                            <th>
                                                                状态
                                                            </th>
                                                            <th>
                                                                总价
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <volist name="data" id="vo">
                                                            <tr style ="border:1px solid #CCC;">
                                                                <td>
                                                                    <table class="table">
                                                                        <tbody>
                                                                        <volist name="vo.商品" id="vos">
                                                                            <tr>
                                                                                <td width="65"><img src="__ROOT__/{$vos.图片}" width="60" height="60"/></td>
                                                                                <td>{$vos.名称}</td>
                                                                            </tr>
                                                                        </volist>
                                                                        </tbody>
                                                                    </table>
                                                                </td >
                                                                <td>
                                                                    <table class="table">
                                                                        <tbody>
                                                                        <volist name="vo.商品价格" id="vos">
                                                                            <tr>
                                                                                <td><img src="__PUBLIC__/home/images/zhanwei.png" width="1" height="60"/>
                                                                                    {$vos}</td>
                                                                            </tr>
                                                                        </volist>
                                                                        </tbody>
                                                                    </table>
                                                                </td >
                                                                <td>
                                                                    <table class="table">
                                                                        <tbody>
                                                                        <volist name="vo.商品数量" id="vos">
                                                                            <tr>
                                                                                <td><img src="__PUBLIC__/home/images/zhanwei.png" width="1" height="60"/>
                                                                                    {$vos}</td>
                                                                            </tr>
                                                                        </volist>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td style ="border:1px solid #CCC;">
                                                                    {$vo.订单状态}
                                                                </td>
                                                                <td style ="border:1px solid #CCC;">
                                                                    总金额：{$vo.总金额}<br/>实际金额：{$vo.实付金额}
                                                                </td>
                                                            </tr>
                                                        </volist>
                                                        </tbody>
                                                    </table>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>






                    <!--我写的结束-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="footer-section">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-1 footer-grid">
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>新手指南</h4>
                    <ul>
                        <li><a href="__APP__/help/guide/shopping">购物流程</a></li>
                        <li><a href="__APP__/help/guide/coupon">优惠券规则</a></li>
                        <li><a href="__APP__/help/guide/customer">联系客服</a></li>
                        <li><a href="__APP__/help/guide/question">常见问题</a></li>

                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>付款方式</h4>
                    <ul>
                        <li><a href="__APP__/help/paymentMethod/paymentOnline">在线支付</a></li>
                        <li><a href="__APP__/help/paymentMethod/cash">货到付款</a></li>
                        <li><a href="__APP__/help/paymentMethod/wallet">钱包支付</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>配送方式</h4>
                    <ul>
                        <li><a href="__APP__/help/distributionMode/distribution">配送时效及运费</a></li>
                        <li><a href="__APP__/help/distributionMode/inspection">验货与签收</a></li>

                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>售后服务</h4>
                    <ul>
                        <li><a href="__APP__/help/service/returnpolicy">退货政策</a></li>
                        <li><a href="__APP__/help/service/returnflow">退货流程</a></li>
                        <li><a href="__APP__/help/service/returnmethod">退货方式及时效</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>部分合作网站</h4>
                    <ul>
                        <li><a href="www.lancome.com">兰蔻</a></li>
                        <li><a href="www.esteelauder.com.cn">雅诗兰黛</a></li>
                        <li><a href="pechoin51870.com">百雀羚</a></li>
                    </ul>
                </div>
                <div class="col-md-1 footer-grid">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 footer-grid1">
                <div class="col-md-5 footer-grid">
                </div>
                <div class="col-md-2 social-icons">
                    <a href="#"><i class="icon"></i></a>
                    <a href="#"><i class="icon1"></i></a>
                    <a href="#"><i class="icon2"></i></a>
                    <a href="#"><i class="icon3"></i></a>
                    <a href="#"><i class="icon4"></i></a>
                    <p>Copyright &copy; 易购商城</p>
                </div>
                <div class="col-md-5 footer-grid">
                </div>
            </div>
        </div>
    </div>
    <!--footer-->

</body>
</html>
