<!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/index.php/admin/index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">管理员管理</span></div>
        </div>
        <div class="search-wrap">
           <div class="search-wrap">
            <div class="search-content">
                <form action="__APP__/admin/admin/select" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">登录名:</th>
                            <td><input class="common-text" placeholder="请输入需要查询的ID" name="keyword" value=""  type="text"></td>

                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__APP__/admin/admin/insert"><i class="icon-font"></i>添加管理员</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                    <tr>
                            <th>ID</th>
                            <th>登录名</th>
                            <th>密码</th>
                            <th>权限</th>
                            <th>操作</th>
                        </tr>
                    <foreach name='admin' item='vo'>
                    <tr>
                            <td>{$vo.adminid}</td>
                            <td title="artichoke"><a target="_blank" href="#" title="artichoke">{$vo.adminname}</a>
                            </td>
                            <td>{$vo.adminpswd}</td>
                            <td>{$vo.permission}</td>
               
                            <td>
                                 <a class="link-update" href="__APP__/admin/admin/view?id={$vo.adminid}">查看</a>
                                <a class="link-update" href="__APP__/admin/admin/update/adminid/{$vo.adminid}">修改</a>
                                <a class="link-delete" href="__APP__/admin/admin/delete?id={$vo.adminid}">删除</a>
                            </td>
                            </tr>
                    </foreach>
                    </table>
                    <div class="list-page">{$pages}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->