 <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/admin/index/index">首页</a><span class="crumb-step">&gt;</span>管理员管理<span class="crumb-step">&gt;</span><span><a href="/index.php/admin/admin/index">查看管理员</a></span><span class="crumb-step">&gt;</span><span><a href="/index.php/admin/admin/view">查看</a></span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__APP__/admin/admin/index" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th><i class="require-red">*</i>登录名：</th>
                            <td>
                                {$admin.adminname}
                            </td>
                        </tr>
                        <tr>
                            <th>密码：</th>
                            <td>{$admin.adminpswd}</td>
                        </tr>
                        <tr>
                            <th>权限：</th>
                            <td>{$admin.permission}</td>
                        </tr>
                        <tr>
                            <th></th>
                            
                               <td>
                                   <a href="__APP__/admin/admin/index"><input class="btn btn6" value="返回" type="button"></a>
                                   <a href="__APP__/admin/admin/update?id={$admin.adminid}"><input class="btn btn6" value="修改" type="button"></a>
                                </td>
                            
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->