 <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/admin/index/index">首页</a><span class="crumb-step">&gt;</span>分类管理<span class="crumb-step">&gt;</span><span><a href="/index.php/admin/yonghu/index">添加种类</a></span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__APP__/admin/Type/insert1" method="post" id="myform" name="categories" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th><i class="require-red">*</i>种类编号：</th>
                            <td>
                                <input class="common-text required" id="title" name="categoriesnum" size="50" value="" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>种类名称：</th>
                            <td>
                                <input class="common-text required" id="title" name="categoriesname" size="50" value="" type="text">
                            </td>
                        </tr>

                        <tr>
                            <th></th>
                             <td>
                            <input class="btn btn-primary btn2" name="sub" value="提交" type="submit">
                                <a class="link-delete" href="__APP__/admin/type/index">返回</a>
                            </td>
                        </tr>
                        </tbody></table>
    <!--/main-->
    </form>
</div>
</div>

</div>
