    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__APP__/admin/index/index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/index.php/admin/brand/index">品牌管理</a><span class="crumb-step">&gt;</span><span>查看品牌</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="__APP__/admin/grands/revise" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th><i class="require-red">*</i>品牌编号：</th>
                            <td>
                                <i class="require-red">{$grand.grandnum}
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>品牌名称：</th>
                            <td> {$grand.grandname}</td>
                        </tr>
                        <tr>
                            <th>品牌简介：</th>
                            <td>
                                {$grand.grandintroduction}
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="common-text required" id="title" name="grandid" type="hidden" value="{$grand.grandid}"/>
                                <input class="btn btn6" value="修改" type="submit">
                                <a href="__APP__/admin/grands/index"><input class="btn btn6" value="返回" type="button"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->