<!DOCTYPE HTML>
<html>
<head>
	<title>购物车</title>
	<link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__PUBLIC__/home/css/owl.carousel.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Swim Wear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<style type="text/css">
		.button{
			background-color:#fff;
			margin-bottom: 10px;
		}
		.delivery{
			margin-bottom: 10px;
		}
		label {font-size:12px;cursor:pointer;}
		label i {font-size:12px;font-style:normal;display:inline-block;width:12px;height:12px;text-align:center;line-height:12px;color:#fafcff;vertical-align:middle;margin:-2px 2px 1px 0px;border:#000 1px solid;}
		input[type="checkbox"],input[type="radio"] {display:none;}
		input[type="radio"] + i {border-radius:7px;}
		input[type="checkbox"]:checked + i,input[type="radio"]:checked + i {background:#000;}
		input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#fafcff;}
		input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#fafcff;}
	</style>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="__PUBLIC__/home/js/jquery.min.js"></script>
	<!-- cart -->
	<script src="__PUBLIC__/home/js/simpleCart.min.js"> </script>
	<!-- cart -->
	<script type="text/javascript" src="__PUBLIC__/home/js/bootstrap-3.1.1.min.js"></script>
	<script src="__PUBLIC__/home/js/imagezoom.js"></script>

	<!-- FlexSlider -->
	<script defer src="__PUBLIC__/home/js/jquery.flexslider.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/home/css/flexslider.css" type="text/css" media="screen" />

	<script>
		// Can also be used with $(document).ready()
		$(window).load(function() {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>



</head>
<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="top-right">
				<ul>
					<li class="text"><a href="__APP__/home/personal/personalCenter">{$user}</a></li>
					<li><div class="cart box_1">
						<a href="__APP__/home/order/checkout/userid/{$_SESSION['id']}">
							<span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>
						<div class="clearfix"> </div>
					</div></li>
					<li class="text"><a href="__APP__/home/index/logout">{$logout}</a></li>

				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<!--/.content-->
			<div class="content white">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1 class="navbar-brand"><a  href="__APP__/home/index/index">Easy Buy</a></h1>
					</div>
					<!--/.navbar-header-->


					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="index.html">主页</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">女士<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<volist name="women" id="vo">
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<!--<li><a class="list" href="products.html">女士</a></li>-->
													<li><a class="list1" href="__APP__/home/products/select/grandname/{$vo.grandname}">{$vo.grandname}</a></li>
												</ul>
											</div>
										</volist>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">男士 <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-2">
									<div class="row">
										<volist name="men" id="vo">
											<div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<!--<li><a class="list" href="products.html">女士</a></li>-->
													<li><a class="list1" href="__APP__/home/products/select/grandname/{$vo.grandname}">{$vo.grandname}</a></li>
												</ul>
											</div>
										</volist>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">儿童 <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-1">
									<div class="row">
										<div class="col-sm-1">
											<ul class="multi-column-dropdown">
												<volist name="children" id="vo">
													<li><a class="list1" style="width:150px;" href="__APP__/home/products/select/grandname/{$vo.grandname}">{$vo.grandname}</a></li>
												</volist>
											</ul>
										</div>

									</div>
								</ul>
							</li>
							<li><a href="products.html">每日精选</a></li>

						</ul>
					</div>
					<!--/.navbar-collapse-->
				</nav>
				<!--/.navbar-->
			</div>
			<div class="search-box">
				<div id="sb-search" class="sb-search">
					<form>
						<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
						<input class="sb-search-submit" type="submit" value="">
						<span class="sb-icon-search"> </span>
					</form>
				</div>
			</div>

			<!-- search-scripts -->
			<script src="__PUBLIC__/home/js/classie.js"></script>
			<script src="__PUBLIC__/home/js/uisearch.js"></script>
			<script>
				new UISearch( document.getElementById( 'sb-search' ) );
			</script>
			<!-- //search-scripts -->
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--header-->
<div class="content">
	<!-- checkout -->
	<div class="content">
		<div class="cart-items">
			<div class="container">
				<h2 >我的购物车</h2>
				<!--<form action="__APP__/home/order/order/userid/{$vo.userid}" method="post">-->

				<form action="__APP__/home/order/order" method="post">
					<div style="background-color: #fafcff;">
					<foreach name='data' item='vo'>
						<script>$(document).ready(function(c) {
							$('.close1').on('click', function(c){
								$('.cart-header').fadeOut('slow', function(c){
									$('.cart-header').remove();
								});
							});
						});
						</script>

						<div class="cart-header">
							<!--<div class="close1"> </div>-->
							<div class="cart-sec simpleCart_shelfItem">
								<div class="cart-item cyc">
									<label><input name="shopids[]" type="checkbox" value="{$vo.shopid}" type="checkbox"><i>✓</i></label>
									<img src="__ROOT__/{$vo.imageurl}" class="img-responsive" alt="" style="margin-left: 10px;"/>
								</div>
								<div class="cart-item-info">

									<div class="product-info simpleCart_shelfItem">
										<div class="product-info-cust prt_name">
											<h3>【{$vo.goodname}】</h3>
											<span class="item_price">商品价格：￥{$vo.goodprice}</span>
											<div class="ofr">
												<p class="disc">商品折扣：[{$vo.discount}% Off]</p>
											</div>
											<div class="clearfix"> </div>
										</div>
									</div>
									<div class="col-md-4 single-grid simpleCart_shelfItem">
										<div class="delivery">

											<div class="clearfix"></div>
											 <p style="font-size: 0.95em;color: #1A1A1A">数量 : {$vo.shopcount}</p><!--<input min="1" type="number" id="quantity" name="quantity" value="{$vo.shopcount}" style="border:1.5px solid #000;">-->
										</div>
									</div>

								</div>
								<div class="subscribe2" style="float: right;">

								</div>
								<div style="float: right;"><!--<input type="button" value="删除" style="background:#000;border:2px solid #000;font-size: 0.95em;font-weight: 300;padding: 0.5em 2em;color: white;"/>-->
								<a href="__APP__/home/order/delete?shopid={$vo.shopid}" style="font-size: 0.96em;"/>删除
								</div>
								<div class="clearfix"></div>

							</div>

						</div>

					</foreach>
				</div>
					<br/>
					<div style="float: right">
						<input type="submit" value="支付" style="background:#000;border:2px solid #000;font-size: 0.95em;font-weight: 600;padding: 0.5em 4em;color: white;"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- checkout -->


	<!--footer-->
	<div class="footer-section">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-1 footer-grid">
				</div>
				<div class="col-md-2 footer-grid">
					<h4>新手指南</h4>
					<ul>
						<li><a href="products.html">购物流程</a></li>
						<li><a href="#">优惠券规则</a></li>
						<li><a href="#">联系客服</a></li>
						<li><a href="#">常见问题</a></li>

					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>付款方式</h4>
					<ul>
						<li><a href="#">在线支付</a></li>
						<li><a href="#">货到付款</a></li>
						<li><a href="#">钱包支付</a></li>

					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>配送方式</h4>
					<ul>
						<li><a href="#">配送时效及运费</a></li>
						<li><a href="#">验货与签收</a></li>

					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>售后服务</h4>
					<ul>
						<li><a href="#">退货政策</a></li>
						<li><a href="#">退货流程</a></li>
						<li><a href="#">退货方式及时效</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>部分合作网站</h4>
					<ul>
						<li><a href="www.lancome.com">兰蔻</a></li>
						<li><a href="#">雅诗兰黛</a></li>
						<li><a href="#">百雀羚</a></li>
					</ul>
				</div>
				<div class="col-md-1 footer-grid">
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-12 footer-grid1">
				<div class="col-md-5 footer-grid">
				</div>
				<div class="col-md-2 social-icons">
					<a href="#"><i class="icon"></i></a>
					<a href="#"><i class="icon1"></i></a>
					<a href="#"><i class="icon2"></i></a>
					<a href="#"><i class="icon3"></i></a>
					<a href="#"><i class="icon4"></i></a>
					<p>Copyright &copy; 易购商城</p>
				</div>
				<div class="col-md-5 footer-grid">
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
</body>
</html>