<!--
编码者：黄婷灵
-->

<!DOCTYPE HTML>
<html>
<head>
    <title>订单</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/tasp.css" />
    <link href="__PUBLIC__/home/css/orderconfirm.css" rel="stylesheet" />


    <link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__PUBLIC__/home/css/owl.carousel.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Swim Wear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/bootstrap-3.1.1.min.js"></script>
    <!-- cart -->
    <script src="__PUBLIC__/home/js/simpleCart.min.js"> </script>
    <!-- cart -->
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function()
        {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!-- //the jScrollPane script -->
    <link href="__PUBLIC__/home/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <!-- the mousewheel plugin -->
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.mousewheel.js"></script>
    <style>
        #page{width:auto;}
        #comm-header-inner,#content{width:950px;margin:auto;}
        #logo{padding-top:26px;padding-bottom:12px;}
        #header .wrap-box{margin-top:-67px;}
        #logo .logo{position:relative;overflow:hidden;display:inline-block;width:140px;height:35px;font-size:35px;line-height:35px;color:#f40;}
        #logo .logo .i{position:absolute;width:140px;height:35px;top:0;left:0;background:url(http://a.tbcdn.cn/tbsp/img/header/logo.png);}
        label {font-size:12px;cursor:pointer;}
        label i {font-size:12px;font-style:normal;display:inline-block;width:12px;height:12px;text-align:center;line-height:12px;color:#fafcff;vertical-align:middle;margin:-2px 2px 1px 0px;border:#000 1px solid;}
        input[type="checkbox"],input[type="radio"] {display:none;}
        input[type="radio"] + i {border-radius:7px;}
        input[type="checkbox"]:checked + i,input[type="radio"]:checked + i {background:#000;}
        input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#fafcff;}
        input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#fafcff;}
    </style>
</head>
<body data-spm="1">

<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="top-right">
                <ul>
                    <li class="text"><a href="__APP__/home/index/tologin">{$user}</a>
                    <li class="text"><a href="__APP__/home/index/logout">退出</a>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script type="text/javascript" src='__PUBLIC__/home/js/jquery-1.7.1.min.js'></script>
    <script type="text/javascript">
        $(function() {
            setTimeout("changeDivStyle();", 100); // 0.1秒后展示结果，因为HTML加载顺序，先加载脚本+样式，再加载body内容。所以加个延时
        });
        function changeDivStyle(){
//		var o_status = $("#o_status").val();	//获取隐藏框值
            var o_status = 3;
            if(o_status==0){
                $('#create').css('background', '#DD0000');
                $('#createText').css('color', '#DD0000');
            }else if(o_status==1||o_status==2){
                $('#check').css('background', '#DD0000');
                $('#checkText').css('color', '#DD0000');
            }else if(o_status==3){
                $('#produce').css('background', '#DD0000');
                $('#produceText').css('color', '#DD0000');
            }else if(o_status==4){
                $('#delivery').css('background', '#DD0000');
                $('#deliveryText').css('color', '#DD0000');
            }else if(o_status>=5){
                $('#received').css('background', '#DD0000');
                $('#receivedText').css('color', '#DD0000');
            }
        }
    </script>

    <style type="text/css">
        *{margin:0;padding:0;list-style-type:none;}
        a,img{border:0;}
        body{background:#f2f2f2;font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
        /* stepInfo
            border-radius：0为正方形，0~N，由正方形向圆形转化，N越大越圆。
            padding：图形的内边距
            background：图形背景色
            text-align：文本对齐
            line-height：行高
            color：文字颜色
            position：定位
            width：宽度
            height：高度
        */
        .stepInfo{position:relative;background:#f2f2f2;margin:20px auto 0 auto;width:500px;}
        .stepInfo li{float:left;width:48%;height:0.15em;background:#bbb;}
        .stepIco{border-radius:1em;padding:0.03em;background:#bbb;text-align:center;line-height:1.5em;color:#fff; position:absolute;width:1.4em;height:1.4em;}
        .stepIco1{top:-0.7em;left:-1%;}
        .stepIco2{top:-0.7em;left:21%;}
        .stepIco3{top:-0.7em;left:46%;}
        .stepIco4{top:-0.7em;left:71%;}
        .stepIco5{top:-0.7em;left:95%;}
        .stepText{color:#666;margin-top:0.2em;width:4em;text-align:center;margin-left:-1.4em;}
    </style>

    <input type="hidden" value=${detailorder.status } id="o_status" /><!--后台传到页面的数据-->

    <div class="stepInfo">
        <ul>
            <li></li>
            <li></li>
        </ul>
        <div class="stepIco stepIco1" id="create">1
            <div class="stepText" id="createText">加入购物车</div>
        </div>
        <div class="stepIco stepIco2" id="check">2
            <div class="stepText" id="checkText">审核订单</div>
        </div>
        <div class="stepIco stepIco3" id="produce">3
            <div class="stepText" id="produceText">订单详情</div>
        </div>
        <div class="stepIco stepIco4" id="delivery">4
            <div class="stepText" id="deliveryText">付款</div>
        </div>
        <div class="stepIco stepIco5" id="received">5
            <div class="stepText" id="receivedText">付款成功</div>
        </div>
    </div>
    <div style="text-align:center;margin:120px 0; font:normal 14px/24px 'MicroSoft YaHei';clear:both;">
        <div id="page">

            <div id="content" class="grid-c">

                <div id="address" class="address" style="margin-top: 20px;" data-spm="2">
                    <form name="addrForm" id="addrForm" action="__APP__/home/order/add" method="post">
                        <h3>确认收货地址
                            <span class="manage-address">
                        <a href="__APP__/home/personal/addressManagement" target="_blank" title="管理我的收货地址"
                          class="J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.7">管理收货地址</a>
 </span>
                        </h3>

                        <ul id="address-list" class="address-list">
                            <!--地址管理部分-->
                            <volist name="values" id="value">
                                <li class="J_Addr J_MakePoint clearfix  J_DefaultAddr "  data-point-url="http://log.mmstat.com/buy.1.20" style="text-align: left;">
                                    <s class="J_Marker marker"></s>
                                    <span class="marker-tip">寄送至</span>
                                    <div class="address-info">
                                        <a href="#" class="J_Modify modify J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.21">修改本地址</a>
                                        <label><input name="address"
                                                      class="J_MakePoint "
                                                      type="radio"
                                                      value="<li>收货地址：{$value.adress}</li><li>收件人：{$value.name}（收）{$value.tel}</li>"
                                                      checked="checked"

                                        /><i>✓</i></label>


                                        <label class="user-address">
                                            {$value.adress}&nbsp;&nbsp;{$value.name}（收） <em>电话&nbsp;{$value.tel}</em>
                                        </label>
                                        <em class="tip" style="display: none">默认地址</em>
                                        <a class="J_DefaultHandle set-default J_MakePoint" href="/auction/update_address_selected_status.htm?addrid=674944241" style="display: none" data-point-url="http://log.mmstat.com/buy.1.18">设置为默认收货地址</a>
                                    </div>
                                </li>
                                <!--<li class="J_Addr J_MakePoint clearfix"
                                    data-point-url="http://log.mmstat.com/buy.1.20" >
                                    <s class="J_Marker marker"></s>
                                    <span class="marker-tip">寄送至</span>
                                    <div class="address-info">
                                        <a href="#" class="J_Modify modify J_MakePoint" data-point-url="#">修改本地址</a>
                                        <input name="address"
                                               class="J_MakePoint"
                                               type="radio"
                                               value="594209677"
                                               id="addrId_594209677"
                                               data-point-url="#"
                                               ah:params="#"
                                        >
                                        <label for="addrId_594209677" class="user-address">
                                            湖北省 恩施土家族苗族自治州 恩施市 某某某 (某某某 收) <em>1342407681</em></label><em class="tip" style="display: none">默认地址</em>
                                        <a class="J_DefaultHandle set-default J_MakePoint" style="display: none" data-point-url="#" href="#">设置为默认收货地址</a>
                                    </div>
                                </li>-->
                            </volist>
                        </ul>

                        <ul id="J_MoreAddress" class="address-list hidden">

                        </ul>




                </div>

                    <div>
                        <h3 class="dib">确认订单信息</h3>
                        <table cellspacing="0" cellpadding="0" class="order-table" id="J_OrderTable" summary="统一下单订单信息区域">
                            <caption style="display: none">统一下单订单信息区域</caption>
                            <thead>
                            <tr>

                                <th class="s-title">店铺宝贝<hr/></th>
                                <th class="s-price">单价(元)<hr/></th>
                                <th class="s-amount">数量<hr/></th>
                                <th class="s-agio">优惠折扣(%)<hr/></th>
                                <th class="s-total">小计(元)<hr/></th>
                            </tr>
                            </thead>

                            <!--订单信息部分-->
                            <volist name="data" id="vo">
                                <tbody data-spm="3" class="J_Shop" data-tbcbid="0" data-outorderid="47285539868"  data-isb2c="false" data-postMode="2" data-sellerid="1704508670">
                                <tr class="first"><td colspan="5"></td></tr>

                                <tr class="item" data-lineid="19614514619:31175333266:35612993875" data-pointRate="0">

                                    <td class="s-title">
                                        <input type="hidden" value="{$vo.shopid}" name="shopids[]" style="" checked="checked"/><a href="#" target="_blank" title="{$vo.goodname}规格：{$vo.spec}" class="J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.5">
                                            <img src="__ROOT__/{$vo.imageurl}" class="itempic"><span class="title J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.5">{$vo.goodname}</span></a>

                                        <div class="props">
                                            <span>品牌: {$vo.mark2} </span>
                                            <span>种类: {$vo.mark1} </span>
                                            <span>规格：{$vo.spec} </span>
                                        </div>

                                        <div>
                                            <span style="color:gray;">卖家承诺72小时内发货</span>
                                        </div>
                                    </td>
                                    <td class="s-price">

  <span class='price '>
 <em class="style-normal-small-black J_ItemPrice"  >￥{$vo.goodprice}</em>
  </span>
                                        <input type="hidden" name="costprice" value="$vo.goodprice" class="J_CostPrice" />
                                    </td>
                                    <td class="s-amount" data-point-url="">
                                        <input type="hidden" class="J_Quantity" value="1" name="19614514619_31175333266_35612993875_quantity"/>{$vo.shopcount}

                                    </td>
                                    <td class="s-agio">
                                        <div class="J_Promotion promotion" data-point-url="">{$vo.discount}%</div>
                                    </td>
                                    <td class="s-total">

   <span class='price '>
 <em class="style-normal-bold-red J_ItemTotal "  >{$vo.total}</em>
  </span>
                                        <input id="furniture_service_list_b_47285539868" type="hidden" name="furniture_service_list_b_47285539868"/>
                                    </td>
                                </tr>
                            </volist>
                            <tr class="shop-total blue-line">
                                <th></th>
                                <td colspan="5">店铺合计(<span class="J_Exclude" style="display: none">不</span>含运费<span class="J_ServiceText" style="display: none">，服务费</span>)：
                                    <span class='price g_price '>
 <span>&yen;</span><em class="style-middle-bold-red J_ShopTotal"  >{$alltotal}.00</em>
  </span>
                                    <input type="hidden" name="1704508670:2|creditcard" value="false" />
                                    <input type="hidden" id="J_IsLadderGroup" name="isLadderGroup" value="false"/>

                                </td>
                            </tr>
                            </tbody>

                            <tr>
                                <td colspan="5" name="alltotals">

                                    <div class="order-go" data-spm="4">
                                        <div class="J_AddressConfirm address-confirm">
                                            <div class="kd-popup pop-back" style="margin-bottom: 40px;">
                                                <div class="box">
                                                    <div class="bd">
                                                        <div class="point-in">

                                                            <em class="t">实付款：</em>  <span class='price g_price '>
 <span>&yen;</span><em class="style-large-bold-red"  id="J_ActualFee"  >{$alltotal}.00</em>
  </span>
                                                        </div>

                                                        <ul id="showaddress">
                                                            <li>收货地址:<em>{$value.adress}</em><span id="J_AddrConfirm" style="word-break: break-all;">

   </span></li>
                                                            <li><em>收货人:</em><span id="J_AddrNameConfirm">{$value.name}（收） &nbsp;{$value.tel} </span></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <!--<a href = "__APP__/home/order/payment/shopid/{$vo.shopid}/adressid/{$value.adressid}" id="J_Go" class=" btn-go"  data-point-url="__APP__/home/index/login"  tabindex="0" title="点击此按钮，提交订单。">提交订单<b class="dpl-button"></b></a>-->
                                                <input type="submit" value="提交订单" style="background:#000;border:2px solid #000;font-size: 0.95em;font-weight: 600;padding: 0.5em 2em;color: white;"/>
                                            </div>

                                        </div>

                                        <div class="J_confirmError confirm-error">
                                            <div class="msg J_shopPointError" style="display: none;"><p class="error">积分点数必须为大于0的整数</p></div>
                                        </div>



                                    </div>
                                </td>
                            </tr>

                        </table>
                        </form>

                    </div>

                    <input type="hidden" id="J_useSelfCarry" name="useSelfCarry" value="false" />
                    <input type="hidden" id="J_selfCarryStationId" name="selfCarryStationId" value="0" />
                    <input type="hidden" id="J_useMDZT" name="useMDZT" value="false" />
                    <input type="hidden" name="useNewSplit" value="true" />
                    <input type="hidden" id="J_sellerIds" name="allSellIds" value="1704508670" />
                </form>
            </div>

            <!--footer-->
            <div class="footer-section">
                <div class="container">
                    <div class="footer-grids">
                        <div class="col-md-1 footer-grid">
                        </div>
                        <div class="col-md-2 footer-grid">
                            <h4>新手指南</h4>
                            <ul>
                                <li><a href="__APP__/help/guide/shopping">购物流程</a></li>
                                <li><a href="__APP__/help/guide/coupon">优惠券规则</a></li>
                                <li><a href="__APP__/help/guide/customer">联系客服</a></li>
                                <li><a href="__APP__/help/guide/question">常见问题</a></li>

                            </ul>
                        </div>
                        <div class="col-md-2 footer-grid">
                            <h4>付款方式</h4>
                            <ul>
                                <li><a href="__APP__/help/paymentMethod/paymentOnline">在线支付</a></li>
                                <li><a href="__APP__/help/paymentMethod/cash">货到付款</a></li>
                                <li><a href="__APP__/help/paymentMethod/wallet">钱包支付</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 footer-grid">
                            <h4>配送方式</h4>
                            <ul>
                                <li><a href="__APP__/help/distributionMode/distribution">配送时效及运费</a></li>
                                <li><a href="__APP__/help/distributionMode/inspection">验货与签收</a></li>

                            </ul>
                        </div>
                        <div class="col-md-2 footer-grid">
                            <h4>售后服务</h4>
                            <ul>
                                <li><a href="__APP__/help/service/returnpolicy">退货政策</a></li>
                                <li><a href="__APP__/help/service/returnflow">退货流程</a></li>
                                <li><a href="__APP__/help/service/returnmethod">退货方式及时效</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 footer-grid">
                            <h4>部分合作网站</h4>
                            <ul>
                                <li><a href="www.lancome.com">兰蔻</a></li>
                                <li><a href="www.esteelauder.com.cn">雅诗兰黛</a></li>
                                <li><a href="pechoin51870.com">百雀羚</a></li>
                            </ul>
                        </div>
                        <div class="col-md-1 footer-grid">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 footer-grid1">
                        <div class="col-md-5 footer-grid">
                        </div>
                        <div class="col-md-2 social-icons">
                            <a href="#"><i class="icon"></i></a>
                            <a href="#"><i class="icon1"></i></a>
                            <a href="#"><i class="icon2"></i></a>
                            <a href="#"><i class="icon3"></i></a>
                            <a href="#"><i class="icon4"></i></a>
                            <p>Copyright &copy; 易购商城</p>
                        </div>
                        <div class="col-md-5 footer-grid">
                        </div>
                    </div>
                </div>
            </div>
            <!--footer-->
</body>
<script>
    /*function getAddress()
     {
     var address=document.getElementsByName("address");
     for(var i=0;i<address.length;i++)
     {
     if(address[i].checked==true)
     {
     print(address[i].value);
     }
     }
     }*/
    $(document).ready(function () {
        //alert($('#address-list input[name="address"]').val());
        $('#address-list input[name="address"]').click(function () {
            //alert($(this).val());
            var $v = $("#showaddress");
            //$v.document.getElementById('showaddress');    js部分
            $v.html($(this).val());


        })
    });
</script>
</html>
